.marquee-container {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  .logo {
    width: 150px; /* Set the width for all logos */
    margin-right: 20px; /* Adjust the spacing between logos */
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(calc(var(--scroll-amount, 0) * -100%));
    }
  }
  