.productmaindiv{
    height: auto ;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 45% 55%;
}
.viewproductimg{
        height: 550px;
        /* border: 1px solid rgb(219, 25, 25); */
        display: grid;
        position: sticky;
        top: 5px;
        margin-top: 20px;
        grid-template-columns: 30% 70%;
        
}
.mob1{
    height: auto;

}

.productdetaildiv{
    display: block;
    height: auto;
    /* border: 1px solid rgb(219, 25, 25); */
    margin-top: 30px;
    margin-left: 80px;
}

.mainimg{
    height: 90%;
    width: 100%;
    margin: auto;
  
    display: block;
    justify-content: center;
    /* border: 1px solid black; */
    overflow: hidden;
}
.allimg{
    height: 550px;
    /* border: 1px solid rgb(128, 112, 216); */
    display: block;
    justify-content: center;
    
    /* align-items: center; */
    
}
.productimg1 ,.productimg2 ,.productimg3 , .productimg4{
    display: block;
    justify-content: center;
    overflow: hidden;
    margin: 30px auto 0px auto;
    height: 100px;
    width: 90px;
    /* border: 1px solid black; */
    
}
.productimg1 img{
    width: 100%;
    height: 100%;
}
.productimg2 img{
    width: 100%;
    height: 100%;
}
.productimg3 img{
    width: 100%;
    height: 100%;
}
.productimg4 img{
    width: 100%;
    height: 100%;
}
.mainimg img{
    width: 100%;
    height: 100%;
    margin-top: 0px;
}


.viewimg{
    height: 100%;
    width: 95%;
    /* border: 1px solid red; */
}
.line1{
    /* border: 1px solid black; */
    /* height: 30px; */
    font-size: 20px;
   background-color: rgb(207, 201, 195);
   font-weight: bold;
   
}
.stock{
    width: 150px;
    font-size: 25px;
    color: rgb(55, 55, 207);
    font-style: initial;
    background-color: rgb(207, 201, 195);
}
.stock span{
    margin-left: 10px;
}
.brandwarrenty{
    display: flex;
}
.warrenty{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10%;
    display: block;
    margin: auto;
    /* margin-bottom: 30%; */
}
.main-high-payment{
    display: flex;
}
.highlighttext{
    
    width: 130px;
    font-size: 22px;
    font-weight: 500;
    
    
}
.highlighttext h4{
    background-color: rgb(207, 201, 195);
    padding: 5px;
}
.vivoimg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

/* --------------- */


.product-payment-option{
    
    margin-left: 30px ;
    width: 250px;
    font-size: 22px;
    font-weight: 500;
    
    
}
.product-payment-option h4{
    background-color: rgb(207, 201, 195);
    padding: 5px;
}
.payment_option_for_product{
    margin-left: 50px;
}

.product-price{
    margin-top: 20px;
}
.buyprice{
    font-size: 35px;
    font-weight: 600;
    color: rgb(0, 0, 211);
}
.actualprice{
    margin-left: 20px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.274);
    text-decoration: line-through;
}
.discountper{
    font-size: 35px;
    font-weight: 600;
    color: rgb(0, 0, 211);
    margin-left: 20px;
}
.option-mobile{
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.blackcolor div{

    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;

}
.whitecolor div{

    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}
.greencolor div{

    width: 40px;
    height: 40px;
    background-color: green;
    border: 1px solid black;
    border-radius: 50%;
}
.orangecolor div{

    width: 40px;
    height: 40px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
}
.item-quantity{
    display: flex;

}
.final-quantity{
    margin-top:  25px;
    display: flex;
    width: 120px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: 1px solid rgb(211, 207, 207);
    
}
.final-quantity button{
    width: 50px;
    height: 35px;
    background-color: rgb(238, 227, 210);
    border: none;
}
.final-quantity h3{
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addcart-buy{
    display: flex;
    width: 500px;
    height: 60px;
  
    /* border: 1px solid rgb(238, 231, 231); */
}
.addcart {
    width: 350px;
    height: 40px;
    padding: 0px 20px 0px 20px;
    border: 1px solid rgb(241, 236, 236);
    color: white;
    background-color: rgb(20, 20, 194);
    text-align: center;
    
    
}

.buy-product{
    width: 350px;
    height: 40px;
    margin-left: 70px;
    padding: px 20px 0px 20px;
    border: 1px solid rgb(241, 236, 236);
    color: white;
    background-color: rgb(207, 38, 38);
    text-align: center;
    
}
.addcart .buy-product{
    font-size: 20px;
    padding: 3px 3px;
}
.line{
    width: 400px;
}
.Rating-star
{
    display: flex;
    
}
.ratings{
    font-style: unset;
    font-size: 20px;
    
}
#yellow
{
    
    font-size: 18px;
    color:orange;
}
.allstarts{
    margin: 30px;
    /* border: 1px solid black; */
    width: 150px;  
}
#black{
    font-size: 18px;
}

/* //--------------------------------media query---------------------------// */

/* Default styles for larger screens */
/* .productmaindiv {
    height: auto;
    display: grid;
    grid-template-columns: 45% 55%;
} */

/* Tablet styles */
@media only screen and (max-width: 768px) {
    .viewproductimg {
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        position:static;
    }

    .productdetaildiv {
        height: auto;
        margin-top: 15px;
        margin-left: 0;
    }

    .mainimg {
        height: auto;
    }

    .productimg1,
    .productimg2,
    .productimg3,
    .productimg4 {
        margin: 15px auto 0px auto;
    }

    .option-mobile {
        width: 100%;
    }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
    .productmaindiv {
        grid-template-columns: 100%;
    }

    .viewproductimg {
        grid-template-columns: 100%;
    }

    .mob1,
    .productdetaildiv,
    .mainimg,
    .option-mobile,
    .addcart-buy {
        width: 100%;
    }

    #heart {
        margin-left: 0;
    }

    .line1,
    .highlighttext,
    .vivoimg,
    .product-payment-option,
    .product-price,
    .item-quantity,
    .addcart,
    .buy-product,
    .line,
    .Rating-star,
    

    .final-quantity {
        margin-top: 15px;
    }

    .final-quantity button,
    .final-quantity h3 {
        width: 100%;
    }
    /* .productimg1,
    .productimg2,
    .productimg3,
    .productimg4 */
    .allimg
        {
            display: none;
        }
        .allstarts {
            width: 80%;
            margin-top: 1px;
    
}
}