.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #eeeded;
    box-shadow: 1px 3px 5px 6px rgb(225, 225, 223);
}

.image {
    width: 40%;
    text-align: center;
}

.image img {
    max-width: 100%;
}

.form {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input:hover {
    border: 1px solid blue;
    box-shadow: 1px 1px 1px 1px red;
}

.checkbox {
    margin-bottom: 15px;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .image,
    .form {
        width: 100%;
    }

    .image {
        order: 2;
    }

    .form {
        order: 1;
    }
}

/* RegistrationForm.css */

.already-customer {
    margin-top: 20px;
}

.already-customer p {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.already-customer a {
    font-size: 1.1em;
    color: #007bff;
    text-decoration: none;
    margin-right: 5px;
}

.already-customer a:hover {
    text-decoration: underline;
}
/* Registration.css */

.btnn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnn:hover {
    background-color: #45a049;
}
