body {
    margin: 0px;
    padding: 0px;
}

.headingwishlist {
    flex-wrap: wrap;
    display: block;
    justify-content: center;
    text-align: center;
}



.list_of_products_wishlist {
    
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 20px 0px;
    /* background-color: #D9D9D9; */


}
.product_img{
    height: 220px;
    width: 220px
}

.list_of_products_wishlist div img {
    height: 100%;
    width: 100%;
    margin-left: 30px;
    /* object-fit: contain; */
    /* mix-blend-mode: color-burn; */
}

.all_items {
    flex-wrap: wrap;
    display: block;
    
}

.product_first {
    /* margin-top: 30px; */
    flex-wrap: wrap;
   
}

.product_first h2,
.product_first h3,
.product_first button {
    /* margin-left: 60px; */
    margin: 0px 60px;
   font-size: 25px;
}

.product_first button {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: blue;
}

.remove_to_wishlist {
    display: block;
    /* margin-left: 440px; */
    height: 50px;
    width: 50px;
}

.remove_to_wishlist img {
    height: 30px;
    width: 30px;
}

/* mediaquery */

@media(max-width:768px){
    .wishlistpage_main_div{
        height: auto;
    }
    .all_items{
        margin: 0px;
    }
    .list_of_products_wishlist{
        display: block;
        
    }
    .list_of_products_wishlist div img{
        width: 90%;
        margin-left: 0px;
    }
    
    .product_first h2,
.product_first h3,
.product_first button {
    /* margin-left: 60px; */
    margin: 0px 0px;
}

    
}