/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

/* Header Styles */
.had {
  padding: 10px;
  /* display: flex;
  justify-content: center; */
}


.First_box_1 {
  width: 100%;
  margin-top: 10px;
  height: px;

  display: flex;
}

.boxmain {
  margin: 0px 20px;
}

.box {
  width: 100%;

  border: none;
  border: 1px solid black;




}

.tital_1 {
  display: grid;
  grid-template-columns: 10% 40% 40% 0%;
  border: 1px solid black;
  width: 100%;
  background-color: #1877F2;
}

.tital_1 h4 {
  text-align: center;
  margin: 5px 0px;
}


.sub_tital_1 {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  border-bottom: 1px solid black;
  padding: 10px 0px;
  width: 100%;
}

.sub_tital_1 p {
  text-align: center;

}

/* Image Styles */
.del_img_1 img {
  width: 20px;
  margin: 0px 12px;
}

/* Heading Styles */
.Had1 {
  padding: 6px 10px;
}

/* Input Box Styles */
.input_container p {
  padding: 1px 10px;
  color: #b4acac;
}

/* Inside Box Styles */
.inside_container {
  width: 50%;
  height: 50%;
  border: 2px solid gray;
  margin: 0 10px;
  background-color: #D9D9D9;
}

.inside_container p {
  font-size: 15px;
  padding: 5px;
}

.inside_container input {
  padding: 5px;
  margin: 0 10px;
  width: 100%;
}

/* Button Styles */
.btn_1 {
  width: 50%;
  margin: 15px 10px;
}

.btn_1 button {
  padding: 5px;
  background-color: #1877F2;
  color: #fff;
}

.btn_1 button:hover {
  cursor: pointer;
  background-color: #2a3e5a;
}



/* Media Queries */
@media (max-width: 768px) {
  .First_box_1 {
    flex-direction: column;
  }

  .box {
    margin: 0;
  }

  .tital_1,
  .sub_tital_1 {
    grid-template-columns: repeat(4, 25%);
    /* Adjusted column percentages for smaller screens */
  }


}

/* Heading Styles */
.Had1 {
  padding: 6px 10px;
}

/* Input Box Styles */
.input_container p {
  padding: 1px 10px;
  color: #b4acac;
}

/* Inside Box Styles */
.inside_container {
  width: 50%;
  height: 50%;
  border: 2px solid gray;
  margin: 0 10px;
  background-color: #D9D9D9;
}

.inside_container p {
  font-size: 15px;
  padding: 5px;
}

.inside_container input {
  padding: 5px;
  margin: 0 10px;
  width: 80%;
}

/* Button Styles */
.btn_1 {
  width: 50%;
  margin: 15px 10px;
}

.btn_1 button {
  padding: 5px;
  background-color: #1877F2;
  color: #fff;
}

.btn_1 button:hover {
  cursor: pointer;
  background-color: #2a3e5a;
}

@media only screen and (max-width: 600px) {
  .del_img_1 img {
    width: 20%;
    /* Adjust the width for smaller screens */
    margin: 0px 40px;
    /* Remove margin for smaller screens or adjust as needed */
  }
}