* {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

/* Header Styles */
.heading {
  padding: 10px;
}


.First_box1 {
  width: 100%;
  margin-top: 10px;
  height: auto;
  display: flex;
}

.First_box_sec1 {
  width: 100%;
  height: auto;
  margin: 0px 20px;
  border: none;
  /* border: 1px solid black; */
}

.tital {
  display: grid;
  grid-template-columns: 5% 20% 20% 20% 20% 5%;
  border: 1px solid black;
  width: 100%;

  background-color: #1877F2;
}

.tital h4 {
  text-align: center;
  margin: 5px 0px;
}

.sub_tital {
  display: grid;
  grid-template-columns: 5% 20% 20% 20% 20% 5%;
  border-bottom: 1px solid black;
  padding: 10px 0px;
  width: 100%;
}

.sub_tital p {
  text-align: center;
}

/* Image Styles */
.del_img img {
  width: 20px;
  margin: 0px 15px;
}



/* Heading Styles */
.Heading1 {
  padding: 6px 10px;
}

/* Input Box Styles */
.input_box p {
  padding: 1px 10px;
  color: #b4acac;
}

/* Inside Box Styles */
.inside_box {
  width: 50%;
  height: 50%;
  border: 2px solid gray;
  margin: 0 10px;
  background-color: #D9D9D9;
}

.inside_box p {
  font-size: 15px;
  padding: 5px;
}

.inside_box input {
  padding: 5px;
  margin: 0 10px;
  width: 80%;
}

/* Button Styles */
.btn {
  width: 50%;
  margin: 15px 10px;
}

.btn button {
  padding: 5px;
  background-color: #1877F2;
  color: #fff;
}

.btn button:hover {
  cursor: pointer;
  background-color: #2b3f5b;
}

@media(max-width: 768px) {
  .First_box_sec1 {
    margin: 0 10px;
    display: block;

  }

  .inside_box {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }

  .btn {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .del_img img {
    width: 100%;
    margin: 0px 30px;
  }
}

@media (max-width: 768px) {
  .First_box1 {
    flex-direction: column;
  }


  .sub_tital {
    grid-template-columns: repeat(auto);
  }


}

/* Media query for screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  .title {
    grid-template-columns: 10% 25% 25% 25% 10%;
  }
}

/* Media query for screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .title {
    grid-template-columns: 100%;
  }
}