.dashboard-container {
  padding: 20px;
}

.dashboard-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stat-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  margin-right: 20px;
}

.stat-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 1.2rem;
  color: #333;
}
